on: push
name: Build Release
jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    container: fyneio/fyne-cross:base-latest
    steps:
    - uses: actions/checkout@master
    - name: compile and release
      run: go build -ldflags "-s -w" .
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: ls -l
