on: push
name: Build Release
jobs:
  release-linux-amd64:
    name: release linux/amd64
    runs-on: ubuntu-latest
    container: fyneio/fyne-cross:base-latest
    steps:
    - uses: actions/checkout@master
    - run: go install fyne.io/fyne/v2/cmd/fyne
    - run: fyne help
    # - run: go build -ldflags "-s -w" .
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #     GOOS: windows
    #     GOARCH: amd64
    #     CC: x86_64-w64-mingw32-gcc
    #     CGO_ENABLED: 1
    - run: ls -l
